# Copy this file to system.properties, and modify the following to
# refer to the correct paths on the local machine.  They are used by ant
# build.xml, and by the bin/proj_scala script.  Shell back-ticks may be
# used in the java.cmd or jdk.home, but not in the other properties.

# Set either jdk.home or java.cmd, but not both
#jdk.home=/home/nbronson/java/default
java.cmd=/home/nbronson/java/jdk1.6.0_16_`uname -m`/bin/java
#jdk.home=/home/nbronson/java/jdk1.7.0_b72_debug_x86_64/jdk1.7.0/fastdebug

scala.home=/home/nbronson/scala/default
clojure.jar=/home/nbronson/clojure/1.0.0/clojure-1.0.0.jar
scalatest.jar=/home/nbronson/scala/lib/scalatest-1.0-RC1/scalatest-1.0-RC1.jar
